* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e6ecf0;
    font-family: 'Helvetice Neue', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
}


header#main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    background: #fff;
}

header#main-header nav ul{
    display: flex;
    list-style: none;
}

header#main-header nav li{
    display: flex;
    align-items: center;

    font-size: 13px;
    color: #667580;
    font-weight: bold;

    margin-left: 30px;
}

header#main-header nav li:first-child {
    margin: 0;
}

header#main-header nav li i{
    margin-right: 7px;
}

header#main-header div.side fas {
    height: 34px;
    width: 35px;
    border-radius: 50%;
}

header#main-header div.side button {
    height: 34px;
    background: #3BB9E3;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    border: 0;
    border-radius: 16px;

}

.fas{
    color: #1da1f2;
    font-size: 20px;
}
.fab {
    color: #1da1f2;
    font-size: 30px;
}