* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e6ecf0;
    font-family: 'Helvetice Neue', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
}


header#main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#main-header nav ul{
    display: flex;
    list-style: none;
}

.fas{
    color:;
}